* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

@font-face {
    font-family: product-name;
    src: url("../fonts/LibreFranklin-Light.ttf");
}

@font-face {
    font-family: product-info;
    src: url("../fonts/Manrope-Light.ttf");
}

@font-face {
    font-family: tag;
    src: url("../fonts/Prompt-Light.ttf");
}

@font-face {
    font-family: category-name;
    src: url("../fonts/HindSiliguri-Light.ttf");
}

/*
color palette:
#F4F4F2 -> rgb(244, 244, 242) white
#E8E8E8 -> rgb(232, 232, 232) white-gray
#BBBFCA -> rgb(187, 191, 202) gray
#495464 -> rgb(73, 84, 100) dark-navy
*/

body {
    min-height: 100vh;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-intro-section {
    width: 90%;
    margin: 1% auto;
    display: flex;
}

.product-info-container {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.product-info-name {
    margin: 1% 0;
    padding: .5% 0;
    width: 90%;
    text-align: left;
    color: #495464;
    font-weight: bold;
    font-size: 24px;
    font-family: product-name;
    border-bottom: 1px solid #BBBFCA;
}

.product-rewards-container {
    margin: 1% 0;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-reward-container {
    justify-content: space-around;
}

.product-reward-container>i {
    color: gold;
}

.product-rate-point {
    margin: 0 5px;
    color: #495464;
    font-weight: bold;
    font-size: 17px;
    font-family: product-info;
}

.product-rate-item {
    color: #495464;
    font-weight: normal;
    font-family: product-info;
}

.product-add-to-cart-section {
    margin: 2% 0;
    padding: 1%;
    width: 88%;
    min-height: 320px;
    justify-content: space-between;
    background-color: transparent;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.product-size-choose-container {
    margin: 1% 0;
    display: flex;
    flex-direction: column;
}

.product-add-to-cart-title {
    color: #495464;
    font-weight: bold;
    font-size: 18px;
    font-family: product-info;
}

.product-add-to-cart-icon-container {
    margin: 1% 0;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #495464;
    flex-wrap: wrap;
}

#open-color-menu-button,
#close-color-menu-button {
    font-size: 25px;
    cursor: pointer;
}

#open-color-menu-button::before,
#close-color-menu-button::before {
    font-size: 30px;
}

#close-color-menu-button {
    display: none;
}

.colors-item-container {
    width: 120px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.colors-item {
    display: none;
    margin: 1% 2%;
    width: 30px;
    height: 30px;
    border: 1px solid #495464;
    border-radius: 10px;
    animation-name: hideColorItems;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-duration: 500ms;
}

.colors-item-active {
    display: flex;
    animation-name: showColorItems;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-duration: 500ms;
    transition: all 500ms;
}

.colors-item-active:hover {
    background-color: #495464;
}

.colors-item-choosen {
    display: flex;
    animation-name: showColorItems;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-duration: 500ms;
    background-color: #495464;
}

@keyframes hideColorItems {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes showColorItems {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.colors-item>span {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.colors-item-red {
    background-color: red;
}

.colors-item-green {
    background-color: green;
}

.colors-item-blue {
    background-color: blue;
}

.colors-item-yellow {
    background-color: yellow;
}

.colors-item-white {
    background-color: white;
}

.colors-item-black {
    background-color: black;
}

.product-size {
    padding: 10px;
    border: 1px solid #495464;
    border-radius: 10px;
    font-weight: bold;
    font-size: 17px;
    font-family: tag;
    color: #494949;
    background-color: #BBBFCA;
}

.product-size-items-container {
    width: 90%;
    margin: 1% auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.product-size-active {
    background-color: #E8E8E8;
    color: #495464;
    cursor: pointer;
    transition: all 500ms;
}

.product-size-active:hover {
    background-color: #495464;
    color: #E8E8E8;
}

.product-size-choose {
    background-color: #495464;
    color: #E8E8E8;
}

.product-price {
    margin: 1.5% 0;
    text-align: left;
    font-weight: bold;
    font-size: 24px;
    color: #494949;
    font-family: product-info;
}

.add-to-cart-button {
    position: relative;
    margin: 2% auto;
    padding: 3% 5%;
    width: fit-content;
    color: #495464;
    border: 1px solid #495464;
    background-color: transparent;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 17px;
    font-family: tag;
    z-index: 0;
}

.add-to-cart-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #495464;
    border-radius: 10px;
    transition: all 300ms;
    z-index: -1;
}

.add-to-cart-button:hover {
    color: #eef1f5;
}

.add-to-cart-button:hover::before {
    width: 100%;
}

.product-images-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    min-height: 320px;
}

.product-main-image-container {
    width: 70%;
    max-height: 450px;
    margin: 1% auto;
    padding: 1%;
    border-radius: 10px;
    background-color: #495464;
}

.product-main-image {
    width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.product-gallery-images-section {
    width: 80%;
    margin: 1% auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-gallery-image-container {
    position: relative;
    width: 120px;
    height: 120px;
    border: 1px solid #495464;
    border-radius: 10px;
    cursor: pointer;
    transition: all 300ms;
}

.product-gallery-image-container:hover {
    opacity: .8;
}

.product-gallery-image {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    border-radius: 10px;
}

#open-product-gallery-image-button {
    font-weight: bold;
    font-size: 50px;
    cursor: pointer;
}

.product-gallery-image-modal-section {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, .8);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@keyframes zoomInModal {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

#close-product-gallery-modal-button::before {
    color: #E8E8E8;
    font-size: 20px;
}

#close-product-gallery-modal-button {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.product-modal-image-container {
    width: 350px;
    height: 450px;
    padding: 1%;
    border-radius: 10px;
    background-color: #f2f2f2;
    animation-name: zoomInModal;
    animation-duration: 0.6s;
}

#product-modal-image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.product-gallery-image-modal-section>.product-gallery-images-section {
    width: fit-content;
    justify-content: space-evenly;
    animation-name: zoomInModal;
    animation-duration: 0.6s;
}

.product-gallery-image-modal-section>.product-gallery-images-section>.product-gallery-image-container {
    margin: 0 20px;
}

/* 
Section Title Style
*/

.section-title {
    width: 90%;
    margin: 1% auto;
    color: #495464;
    font-weight: bold;
    font-size: 24px;
    font-family: category-name;
    text-transform: capitalize;
}

/* 
Related Product Section Style
*/

.carousel-container {
    margin: 1% auto;
    width: 90%;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
}

.change-carousel-items-button {
    padding: 1.5%;
    color: #E8E8E8;
    font-weight: bold;
    font-size: 17px;
    background-color: #BBBFCA;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: all 400ms;
}

.change-carousel-items-button:hover {
    color: #F4F4F2;
    background-color: #495464;
}

.carousel-items-container {
    margin: 0 auto;
    width: 90%;
    display: flex;
}

.carousel-items-container::-webkit-scrollbar {
    display: none;
}

@keyframes hideCarousel {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }

}

@keyframes showCarousel {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

.carousel-product-card {
    margin: 0 10px;
    width: 15%;
    display: none;
    flex-direction: column;
    padding: 20px 10px 10px;
    background-color: #495464;
    border-radius: 10px;
    animation-name: hideCarousel;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.carousel-product-card-active {
    display: flex;
    animation-name: showCarousel;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.carousel-product-card-image-container {
    width: 90%;
    height: 100px;
    margin: 0 auto;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.carousel-product-card-image {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.carousel-product-card-image-dark-theme {
    position: absolute;
    width: 0;
    height: 100%;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    transition: all 800ms;
}

.carousel-add-to-cart-button {
    display: none;
    padding: 4%;
    background-color: #F4F4F2;
    color: #495464;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: header-logo;
}

.carousel-add-to-cart-button i {
    width: 20px;
    height: 20px;
}

.carousel-product-card-image-container:hover .carousel-product-card-image-dark-theme {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.carousel-product-card-image-container:hover .carousel-add-to-cart-button {
    display: block;
}

.carousel-product-card-info-container {
    width: 90%;
    margin: 1% auto;
    display: flex;
    flex-direction: column;
}

.product-cart-title {
    color: #F4F4F2;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 20px;
    font-family: product-card-title;
}

.product-cart-price-container {
    width: 50%;
    margin: 2% 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.product-cart-price,
.product-cart-price-before-off {
    width: 100%;
    color: #F4F4F2;
    font-weight: bold;
    font-size: 16px;
    font-family: header-logo;
}

.product-cart-price-before-off {
    font-weight: normal;
    font-size: 13px;
    text-decoration: line-through red;
}

.product-cart-button {
    position: relative;
    margin: 2% auto;
    padding: 3% 6%;
    font-weight: bold;
    font-size: 15px;
    font-family: product-card-title;
    color: #495464;
    background-color: #F4F4F2;
    border: none;
    border-radius: 10px;
    text-transform: capitalize;
    cursor: pointer;
}

.comment-section {
    width: 65%;
    margin: 1% auto;
    display: flex;
    flex-direction: column;
}

.add-new-comment-container {
    margin: 1% auto;
    padding: 1% 0;
    width: 100%;
    border-radius: 10px;
    background-color: #495464;
    border: 1px solid #F4F4F2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-new-comment-input {
    padding: 2%;
    margin: 1% 0;
    width: 80%;
    border-radius: 10px;
    border: none;
}

.add-new-comment-input,
.add-new-comment-input::placeholder {
    font-weight: bold;
    font-size: 17px;
    font-family: tag;
    color: #495464;
}

.add-new-comment-textarea {
    min-width: 80%;
    max-width: 80%;
    min-height: 100px;
    max-height: 100px;
}

#new-comment-submit-form-button {
    margin: 1% 0;
    padding: 2% 5%;
    border: 1px solid #F4F4F2;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    font-family: product-card-title;
    color: #F4F4F2;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    z-index: 0;
    transition: all 500ms;
}

#new-comment-submit-form-button::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    top: 0;
    background-color: #F4F4F2;
    border-radius: 10px;
    transition: all 500ms;
    z-index: -1;
}

#new-comment-submit-form-button:hover {
    color: #495464;
    border: 1px solid transparent;
}

#new-comment-submit-form-button:hover::before {
    height: 100%;
}

.comment-message-response-container {
    display: none;
    position: fixed;
    width: 400px;
    top: 35%;
    left: 35%;
    z-index: 1;
    align-items: center;
    justify-content: center;
    opacity: 0;
    animation: showResponseContainer 500ms 1 forwards;
}

@keyframes showResponseContainer {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.loading-circle-span {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 20px solid #4B8673;
    border-top: 20px solid #B8405E;
    animation: spinLoadingCircle 2s linear infinite;
}

@keyframes spinLoadingCircle {
    form {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }

}

.succesful-comment-added-container {
    display: none;
    position: relative;
    padding: 2% 0 1%;
    width: 400px;
    background-color: #5FD068;
    border: 1px solid #4B8673;
    border-radius: 10px;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    animation: showResponseContainer 500ms 1 forwards;
}

.unsuccesful-comment-added-container {
    display: none;
    background-color: #B8405E;
    border: 1px solid #FFF7BC;
    opacity: 0;
    animation: showResponseContainer 500ms 1 forwards;
}

.succesful-comment-added-container>i.bi-x {
    color: #F5DF99;
    font-size: 25px;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.comment-added-status-header {
    padding-bottom: 5px;
    width: 95%;
    font-weight: bold;
    font-size: 19px;
    color: #F6FBF4;
    font-family: product-info;
    border-bottom: 1px solid #F6FBF4;
}

.comment-added-message {
    margin: 1% 0;
    width: 95%;
    font-size: 17px;
    font-weight: normal;
    font-family: tag;
    color: #F6FBF4;
}

.comment-added-message>i {
    color: #B8405E;
}

.close-comment-modal-message-button, .close-comment-modal-message-button-unsuccesful {
    margin: 1% 15px 1% 0;
    padding: 10px 20px;
    color: #EEEEEE;
    font-weight: normal;
    font-size: 16px;
    font-family: product-info;
    background-color: #B8405E;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    align-self: flex-end;
}

.message-status-modal-button-container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.close-comment-modal-message-button-unsuccesful {
    color: #F6FBF4;
    background-color: #5FD068;
}

.comment-item-container {
    padding: 1%;
    width: 88%;
    margin: 1% auto;
    display: flex;
    flex-direction: column;
    background-color: #495464;
    background-color: rgb(187, 191, 202);
    border: 1px solid #F4F4F2;
    border-radius: 10px;
}

.comment-item-header-container {
    margin: 1% auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.comment-item-title {
    max-width: 50%;
    color: #495464;
    font-weight: bold;
    font-size: 18px;
    font-family: product-name;
}

.comment-rate-mark-container {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.comment-item-rate-mark {
    color: #495464;
    font-weight: normal;
    font-size: 14px;
    font-family: tag;
}

.comment-rate-mark-container>.bi-star-fill {
    color: gold;
    font-size: 18px;
}

.comment-item-user-fullname {
    margin: .5% 0 1%;
    font-weight: normal;
    font-size: 16px;
    font-family: category-name;
    color: #495464;
}

.comment-item-message {
    margin: 1% auto;
    width: 100%;
    color: #495464;
    font-weight: normal;
    font-size: 17px;
    font-family: product-info;
}

.like-comment-item-contaienr {
    margin: 1% auto .5%;
    width: 100%;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #ccc;
}

.like-comment-item-title {
    max-width: 60%;
    font-weight: bold;
    font-size: 16px;
    font-family: product-info;
    color: #495464;
}

.like-comment-icons-container {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.like-comment-icon-container {
    margin: 0 10px;
    display: flex;
    align-items: center;
}

.like-comment-item-counter {
    margin: 0 5px;
    color: #495464;
    font-weight: normal;
    font-size: 15px;
    font-family: tag;
}


.like-comment-icon-container>.bi-hand-thumbs-up-fill,
.like-comment-icon-container>.bi-hand-thumbs-down-fill,
.like-comment-icon-container>.bi-hand-thumbs-up,
.like-comment-icon-container>.bi-hand-thumbs-down {
    font-size: 20px;
    color: #495464;
    cursor: pointer;
}

.like-comment-icon-container>.bi-hand-thumbs-up-fill,
.like-comment-icon-container>.bi-hand-thumbs-down-fill {
    display: none;
}