* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

@font-face {
    font-family: product-name;
    src: url("../fonts/LibreFranklin-Light.ttf");
}

@font-face {
    font-family: product-info;
    src: url("../fonts/Manrope-Light.ttf");
}

@font-face {
    font-family: tag;
    src: url("../fonts/Prompt-Light.ttf");
}

@font-face {
    font-family: category-name;
    src: url("../fonts/HindSiliguri-Light.ttf");
}

/*
color palette:
#F4F4F2 -> rgb(244, 244, 242) white
#E8E8E8 -> rgb(232, 232, 232) white-gray
#BBBFCA -> rgb(187, 191, 202) gray
#495464 -> rgb(73, 84, 100) dark-navy
*/

body {
    min-height: 100vh;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-intro-section {
    width: 90%;
    margin: 1% auto;
    display: flex;
}

.product-info-container {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.product-info-name {
    margin: 1% 0;
    padding: .5% 0;
    width: 90%;
    text-align: left;
    color: #495464;
    font-weight: bold;
    font-size: 24px;
    font-family: product-name;
    border-bottom: 1px solid #BBBFCA;
}

.product-rewards-container {
    margin: 1% 0;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-reward-container {
    justify-content: space-around;
}

.product-reward-container>i {
    color: gold;
}

.product-rate-point {
    margin: 0 5px;
    color: #495464;
    font-weight: bold;
    font-size: 17px;
    font-family: product-info;
}

.product-rate-item {
    color: #495464;
    font-weight: normal;
    font-family: product-info;
}

.product-add-to-cart-section {
    margin: 2% 0;
    padding: 1%;
    width: 88%;
    background-color: rgba(73, 84, 100, .8);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.product-size-choose-container {
    margin: 1% 0;
    display: flex;
    flex-direction: column;
}

.product-add-to-cart-title {
    color: #F4F4F2;
    font-weight: bold;
    font-size: 18px;
    font-family: product-info;
}

.product-add-to-cart-icon-container {
    margin: 1% 0;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #eef1f5;
    flex-wrap: wrap;
}

#open-color-menu-button,
#close-color-menu-button {
    font-size: 25px;
    cursor: pointer;
}

#open-color-menu-button::before,
#close-color-menu-button::before {
    font-size: 30px;
}

#close-color-menu-button {
    display: none;
}

.colors-item-container {
    width: 120px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.colors-item {
    display: none;
    margin: 1% 2%;
    width: 30px;
    height: 30px;
    border: 1px solid #495464;
    border-radius: 10px;
    animation-name: hideColorItems;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-duration: 500ms;
}

.colors-item-active {
    display: flex;
    animation-name: showColorItems;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-duration: 500ms;
    transition: all 500ms;
}

.colors-item-active:hover {
    background-color: #BBBFCA;
}

.colors-item-choosen {
    display: flex;
    animation-name: showColorItems;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-duration: 500ms;
    background-color: #BBBFCA;
}

@keyframes hideColorItems {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes showColorItems {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.colors-item>span {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.colors-item-red {
    background-color: red;
}

.colors-item-green {
    background-color: green;
}

.colors-item-blue {
    background-color: blue;
}

.colors-item-yellow {
    background-color: yellow;
}

.colors-item-white {
    background-color: white;
}

.colors-item-black {
    background-color: black;
}

.product-size {
    padding: 10px;
    border: 1px solid #495464;
    border-radius: 10px;
    font-weight: bold;
    font-size: 17px;
    font-family: tag;
    color: #494949;
    background-color: #BBBFCA;
}

.product-size-items-container {
    width: 90%;
    margin: 1% auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.product-size-active {
    background-color: #E8E8E8;
    color: #495464;
    cursor: pointer;
    transition: all 500ms;
}

.product-size-active:hover {
    background-color: #495464;
    color: #E8E8E8;
}

.product-size-choose {
    background-color: #495464;
    color: #E8E8E8;
}

.add-to-cart-button {
    position: relative;
    margin: 1% auto;
    padding: 3% 5%;
    width: fit-content;
    color: #F4F4F2;
    border: 1px solid #F4F4F2;
    background-color: transparent;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 17px;
    font-family: tag;
    z-index: 0;
}

.add-to-cart-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #F4F4F2;
    border-radius: 10px;
    transition: all 300ms;
    z-index: -1;
}

.add-to-cart-button:hover {
    color: #495464;
}

.add-to-cart-button:hover::before {
    color: #495464;
    width: 100%;
}