* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

@font-face {
    font-family: header-logo;
    src: url("../fonts/LibreFranklin-Light.ttf");
}

@font-face {
    font-family: header-menu-item;
    src: url("../fonts/Manrope-Light.ttf");
}

/*
color palette:
#F4F4F2 -> rgb(244, 244, 242) white
#E8E8E8 -> rgb(232, 232, 232) white-gray
#BBBFCA -> rgb(187, 191, 202) gray
#495464 -> rgb(73, 84, 100) dark-navy
*/

body {
    min-height: 100vh;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}


.header-container {
    width: 100%;
    padding: 1% 0;
    display: flex;
    flex-direction: column;
    background-color: rgba(73, 84, 100, .8);
}

.header-top-items-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-searchbox-container,
.logo-title {
    width: 30%;
}

.header-searchbox-container>span.bi-search {
    border-radius: 10px 0 0 10px;
    padding: 2% 4%;
    height: 20px;
    max-height: 20px;
    color: #F4F4F2;
    font-weight: bold;
    background-color: #BBBFCA;
}

#header-search-input {
    padding: 2% 7% 2% 3%;
    height: 20px;
    max-height: 20px;
    background-color: rgba(0, 0, 0, .5);
    border: none;
    border-radius: 0 10px 10px 0;
}

#header-search-input,
#header-search-input::placeholder {
    color: #F4F4F2;
    font-weight: normal;
    font-size: 16px;
    font-family: header-menu-item;
}

.logo-title {
    font-size: 38px;
    font-weight: bold;
    font-family: header-logo;
    color: #F4F4F2;
    transition: all 300ms;
}

.header-profile-icon {
    color: #E8E8E8;
    font-size: 20px;
    font-weight: bold;
    font-family: header-menu-item;
    cursor: pointer;
    transition: all 500ms;
}

.header-profile-icon>i {
    margin-right: 5px;
}

.header-profile-icon:hover {
    color: #F4F4F2;
}

@keyframes showScrollMenuItems {
    from {
        max-height: 0;
    }

    to {
        max-height: 100%;
    }
}

@keyframes showScrollMenuItem {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes hideScrollMenuItems {
    from {
        max-height: 100%;
    }

    to {
        max-height: 0;
    }
}

.header-account-menu-container {
    display: none;
    padding: 1% 0;
    width: 150px;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 10px 10px;
    background-color: #E8E8E8;
    position: absolute;
    z-index: 1;
    top: 50px;
    max-height: 0;
}

.header-account-menu-item {
    margin: 5% 0;
    color: #495464;
    font-weight: bold;
    font-size: 18px;
    font-family: header-menu-item;
    cursor: pointer;
    opacity: 0;
}

.header-menu-items-container {
    width: 90%;
    margin: 2% auto 1%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header-menu-item {
    color: #E8E8E8;
    font-weight: bold;
    font-size: 18px;
    font-family: header-menu-item;
    cursor: pointer;
}

.header-menu-item:hover {
    color: #F4F4F2;
}

.header-mega-menu-item>i.bi-chevron-down,
#header-account-button>i.bi-chevron-down {
    margin-left: 5px;
}

.header-mega-menu-items-container {
    display: none;
    position: absolute;
    z-index: 1;
    padding: 1%;
    width: 150px;
    border-radius: 0 0 10px 10px;
    background-color: #E8E8E8;
    top: 108px;
    flex-direction: column;
    align-items: center;
    max-height: 0;
}

.header-mega-menu-items-container-sidebar-item {
    margin: 5% 0;
    font-weight: normal;
    font-size: 17px;
    color: #495464;
    cursor: pointer;
    font-family: header-menu-item;
    opacity: 0;
}

/*
Drop downs menu animation classes
*/

.header-account-menu-container-active {
    display: flex;
    animation-name: showScrollMenuItems;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.header-account-menu-item-active {
    animation-name: showScrollMenuItem;
    animation-duration: 1500ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}