* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

@font-face {
    font-family: header-logo;
    src: url("../fonts/LibreFranklin-Light.ttf");
}

@font-face {
    font-family: header-menu-item;
    src: url("../fonts/Manrope-Light.ttf");
}

@font-face {
    font-family: product-card-title;
    src: url("../fonts/Prompt-Light.ttf");
}

@font-face {
    font-family: timer-items;
    src: url("../fonts/HindSiliguri-Light.ttf");
}

/*
color palette:
#F4F4F2 -> rgb(244, 244, 242) white
#E8E8E8 -> rgb(232, 232, 232) white-gray
#BBBFCA -> rgb(187, 191, 202) gray
#495464 -> rgb(73, 84, 100) dark-navy
*/

body {
    min-height: 100vh;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*
Timer Section Styles
*/

.timer-section {
    border-top: 1px solid #F4F4F2;
    width: 100%;
    min-height: 80vh;
    background-color: #495464;
    flex-flow: column;
    justify-content: flex-start;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.timer-section-title {
    margin: 4% 0;
    color: #495464;
    font-weight: bold;
    font-size: 28px;
    font-family: timer-items;
}

.timer-items-container {
    margin-top: 3%;
    width: 100%;
}

.timer-box-container {
    width: 20%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.timer-box-title {
    color: #495464;
    font-weight: bold;
    font-size: 20px;
    font-family: timer-items;
}

.timer-cards-container {
    margin: 1% 0;
    display: flex;
    gap: 10px;
}

.timer-card-container {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    gap: 1px;
    background-color: #BBBFCA;
    border-radius: 10px;
}

.timer-card-top,
.timer-card-bottom,
.timer-card-top-flip,
.timer-card-bottom-flip {
    width: 100px;
    height: 75px;
    line-height: 1;
    padding: 25px;
    overflow: hidden;
    color: #495464;
    background-color: #F4F4F2;
    font-size: 100px;
    font-weight: bold;
    font-family: timer-items;
    box-sizing: border-box;
}

.timer-card-top,
.timer-card-top-flip {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.timer-card-bottom,
.timer-card-bottom-flip {
    display: flex;
    align-items: flex-end;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.timer-card-top-flip {
    position: absolute;
    animation: timer-flip-top-card 250ms ease-out;
    transform-origin: bottom;
}

@keyframes timer-flip-top-card {
    100% {
        transform: rotateX(90deg);
    }
}

.timer-card-bottom-flip {
    position: absolute;
    bottom: 0;
    animation: flip-bottom 250ms ease-out 180ms;
    transform-origin: top;
    transform: rotateX(90deg);
}

@keyframes flip-bottom {
    100% {
        transform: rotateX(0deg);
    }
}

/*
New Item Container Styles
*/

.new-item-container {
    margin: 0 0 1%;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/background-images/background-image-2.jpg");
    background-color: #BBBFCA;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}

@keyframes hideNewItemsContainer {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

}

@keyframes showNewItemsContainer {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

.new-item-info-container {
    display: none;
    height: 100%;
    width: 100%;
    flex-direction: column;
    background-color: rgba(0, 0, 0, .7);
    animation-name: hideNewItemsContainer;
    animation-duration: 1500ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.new-item-info-container-active {
    display: flex;
    animation-name: showNewItemsContainer;
    animation-duration: 1500ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.new-item-title {
    font-size: 28px;
    font-weight: bold;
    font-family: header-logo;
    color: #E8E8E8;
}

.new-item-text {
    margin: 1% 0;
    text-align: center;
    width: 50%;
    font-weight: normal;
    font-size: 18px;
    font-family: product-card-title;
    color: #E8E8E8;
}

.new-item-link-button {
    position: relative;
    overflow: hidden;
    margin: 1% 0;
    padding: 1% 4%;
    color: #495464;
    background-color: transparent;
    font-weight: bold;
    font-size: 17px;
    font-family: header-menu-item;
    border-radius: 10px;
    transition: all 500ms;
}

.new-item-link-button::before,
.new-item-link-button::after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #495464;
    border-radius: 10px;
    transition: all 500ms;
}

.new-item-link-button::after {
    width: 100%;
    z-index: -2;
    background-color: #E8E8E8;
    transform: none;
}

.new-item-link-button:hover::before {
    width: 100%;
}

.new-item-link-button:hover {
    color: #E8E8E8;
}

/*
carousel styles
*/

.carousel-items-header {
    width: 80%;
    margin: 1% auto;
    color: #495464;
    font-weight: bold;
    font-size: 25px;
    font-family: header-logo;
    text-transform: capitalize;
}

.carousel-container {
    margin: 1% auto;
    width: 95%;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
}

.change-carousel-items-button {
    padding: 2%;
    color: #E8E8E8;
    font-weight: bold;
    font-size: 20px;
    background-color: #BBBFCA;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: all 400ms;
}

.change-carousel-items-button:hover {
    color: #F4F4F2;
    background-color: #495464;
}

.carousel-items-container {
    margin: 0 auto;
    width: 90%;
    display: flex;
}

.carousel-items-container::-webkit-scrollbar {
    display: none;
}

@keyframes hideCarousel {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }

}

@keyframes showCarousel {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

.carousel-product-card {
    margin: 0 10px;
    width: 30%;
    display: none;
    flex-direction: column;
    padding: 20px 10px;
    background-color: #495464;
    border-radius: 10px;
    animation-name: hideCarousel;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.carousel-product-card-active {
    display: flex;
    animation-name: showCarousel;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.carousel-product-card-image-container {
    width: 90%;
    height: 350px;
    margin: 0 auto;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.carousel-product-card-tag {
    padding: 2%;
    position: absolute;
    right: 10px;
    top: 10px;
    color: #495464;
    font-size: 15px;
    font-weight: bold;
    font-family: header-logo;
    text-transform: capitalize;
    background-color: #F4F4F2;
    border-radius: 10px;
}

.carousel-product-card-image {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.carousel-product-card-image-dark-theme {
    position: absolute;
    width: 0;
    height: 100%;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    transition: all 800ms;
}

.carousel-add-to-cart-button {
    display: none;
    padding: 4%;
    background-color: #F4F4F2;
    color: #495464;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: header-logo;
}

.carousel-add-to-cart-button i {
    width: 20px;
    height: 20px;
}

.carousel-product-card-image-container:hover .carousel-product-card-image-dark-theme {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.carousel-product-card-image-container:hover .carousel-add-to-cart-button {
    display: block;
}

.carousel-product-card-info-container {
    width: 90%;
    margin: 1% auto;
    display: flex;
    flex-direction: column;
}

.product-cart-title {
    color: #F4F4F2;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 25px;
    font-family: product-card-title;
}

.product-cart-little-text {
    color: #F4F4F2;
    font-weight: normal;
    font-size: 15px;
    font-family: product-card-title;
}

.product-cart-price-container {
    width: 45%;
    margin: 2% 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-cart-price,
.product-cart-price-before-off {
    color: #F4F4F2;
    font-weight: bold;
    font-size: 17px;
    font-family: header-logo;
}

.product-cart-price-before-off {
    font-weight: normal;
    font-size: 14px;
    text-decoration: line-through red;
}

.product-cart-button {
    position: relative;
    margin: 2% auto;
    padding: 3% 6%;
    font-weight: bold;
    font-size: 18px;
    font-family: product-card-title;
    color: #495464;
    background-color: #F4F4F2;
    border: none;
    border-radius: 10px;
    text-transform: capitalize;
    cursor: pointer;
}

/*
Our Customers Section
*/

.carousel-items-header>.bi-heart-fill {
    color: #B93160;
}

.our-customers-slider-images-slider {
    width: 70%;
    height: 500px;
    margin: 1% auto;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.our-customers-slider-image-container {
    margin: 0 30px;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 500ms;
}

.our-customers-slider-image-container:hover .our-customers-slider-image {
    filter: saturate(100%);
}

.our-customers-slider-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    filter: saturate(10%);
    transition: all 500ms;
}

.our-customers-slider-image-container-active {
    transition: all 500ms;
    width: 400px;
    height: 500px;
}

.our-customers-slider-image-container-active>.our-customers-slider-image {
    filter: saturate(100%);
}

.our-customers-slider-image-container-deactive {
    display: none;
}