* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

@font-face {
    font-family: header-logo;
    src: url("../fonts/LibreFranklin-Light.ttf");
}

@font-face {
    font-family: header-menu-item;
    src: url("../fonts/Manrope-Light.ttf");
}


@font-face {
    font-family: product-card-title;
    src: url("../fonts/Prompt-Light.ttf");
}

/*
color palette:
#F4F4F2 -> rgb(244, 244, 242) white
#E8E8E8 -> rgb(232, 232, 232) white-gray
#BBBFCA -> rgb(187, 191, 202) gray
#495464 -> rgb(73, 84, 100) dark-navy
*/

body {
    min-height: 100vh;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}


.header-container {
    width: 100%;
    padding: 1% 0;
    display: flex;
    flex-direction: column;
    background-color: rgba(73, 84, 100, .8);
}

.header-top-items-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-searchbox-container,
.logo-title {
    width: 30%;
}

.header-searchbox-container>span.bi-search {
    border-radius: 10px 0 0 10px;
    padding: 2% 4%;
    height: 20px;
    max-height: 20px;
    color: #F4F4F2;
    font-weight: bold;
    background-color: #BBBFCA;
    cursor: pointer;
    transition: all 500ms;
}

.header-searchbox-container>span.bi-search:hover {
    background-color: #F4F4F2;
    color: rgb(73, 84, 100);
}

#header-search-input {
    padding: 2% 7% 2% 3%;
    height: 20px;
    max-height: 20px;
    background-color: rgba(0, 0, 0, .5);
    border: none;
    border-radius: 0 10px 10px 0;
}

#header-search-input,
#header-search-input::placeholder {
    color: #F4F4F2;
    font-weight: normal;
    font-size: 16px;
    font-family: header-menu-item;
}

.logo-title {
    font-size: 38px;
    font-weight: bold;
    font-family: header-logo;
    color: #F4F4F2;
    cursor: pointer;
    transition: all 300ms;
}

.header-profile-icon {
    color: #E8E8E8;
    font-size: 20px;
    font-weight: bold;
    font-family: header-menu-item;
    cursor: pointer;
    transition: all 500ms;
}

.header-profile-icon>i {
    margin-right: 5px;
}

.header-profile-icon:hover {
    color: #F4F4F2;
}

@keyframes showScrollMenuItems {
    from {
        max-height: 0;
    }

    to {
        max-height: 100%;
    }
}

@keyframes showScrollMenuItem {
    from {
        opacity: 0;
        padding: 0;
    }

    to {
        padding: 1%;
        opacity: 1;
    }
}

@keyframes hideScrollMenuItems {
    from {
        max-height: 100%;
        padding: 1%;
    }

    to {
        padding: 0;
        max-height: 0;
    }
}

.header-account-menu-container {
    display: none;
    width: 150px;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 10px 10px;
    background-color: #E8E8E8;
    position: absolute;
    z-index: 1;
    top: 50px;
    max-height: 0;
}

.header-account-menu-item {
    margin: 5% 0;
    color: #495464;
    font-weight: bold;
    font-size: 18px;
    font-family: header-menu-item;
    cursor: pointer;
    opacity: 0;
}

.header-menu-items-container {
    width: 90%;
    margin: 2% auto 1%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header-menu-item {
    color: #E8E8E8;
    font-weight: bold;
    font-size: 18px;
    font-family: header-menu-item;
    cursor: pointer;
}

.header-menu-item:hover {
    color: #F4F4F2;
}

.header-mega-menu-item>i.bi-chevron-down,
#header-account-button>i.bi-chevron-down {
    margin-left: 5px;
}

.header-mega-menu-items-container {
    display: none;
    position: absolute;
    z-index: 1;
    width: 150px;
    border-radius: 0 0 10px 10px;
    background-color: #E8E8E8;
    top: 108px;
    flex-direction: column;
    align-items: center;
    max-height: 0;
}

.header-mega-menu-items-container-sidebar-item {
    margin: 5% 0;
    font-weight: normal;
    font-size: 17px;
    color: #495464;
    cursor: pointer;
    font-family: header-menu-item;
    opacity: 0;
}

/*
Drop downs menu animation classes
*/

.header-account-menu-container-active {
    display: flex;
    animation-name: showScrollMenuItems;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.header-account-menu-item-active {
    animation-name: showScrollMenuItem;
    animation-duration: 1500ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.carousel-items-header {
    width: 80%;
    margin: 1% auto;
    color: #495464;
    font-weight: bold;
    font-size: 25px;
    font-family: header-logo;
    text-transform: capitalize;
}

.carousel-container {
    margin: 1% auto;
    width: 95%;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
}

.change-carousel-items-button {
    padding: 2%;
    color: #E8E8E8;
    font-weight: bold;
    font-size: 20px;
    background-color: #BBBFCA;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: all 400ms;
}

.change-carousel-items-button:hover {
    color: #F4F4F2;
    background-color: #495464;
}

.carousel-items-container {
    margin: 0 auto;
    width: 90%;
    display: flex;
}

.carousel-items-container::-webkit-scrollbar {
    display: none;
}

@keyframes hideCarousel {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }

}

@keyframes showCarousel {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

.carousel-product-card {
    margin: 0 10px;
    width: 30%;
    display: none;
    flex-direction: column;
    padding: 20px 10px;
    background-color: #495464;
    border-radius: 10px;
    animation-name: hideCarousel;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.carousel-product-card-active {
    display: flex;
    animation-name: showCarousel;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.carousel-product-card-image-container {
    width: 90%;
    height: 350px;
    margin: 0 auto;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.carousel-product-card-tag {
    padding: 2%;
    position: absolute;
    right: 10px;
    top: 10px;
    color: #495464;
    font-size: 15px;
    font-weight: bold;
    font-family: header-logo;
    text-transform: capitalize;
    background-color: #F4F4F2;
    border-radius: 10px;
}

.carousel-product-card-image {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.carousel-product-card-image-dark-theme {
    position: absolute;
    width: 0;
    height: 100%;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    transition: all 800ms;
}

.carousel-add-to-cart-button {
    display: none;
    padding: 4%;
    background-color: #F4F4F2;
    color: #495464;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: header-logo;
}

.carousel-add-to-cart-button i {
    width: 20px;
    height: 20px;
}

.carousel-product-card-image-container:hover .carousel-product-card-image-dark-theme {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.carousel-product-card-image-container:hover .carousel-add-to-cart-button {
    display: block;
}

.carousel-product-card-info-container {
    width: 90%;
    margin: 1% auto;
    display: flex;
    flex-direction: column;
}

.product-cart-title {
    color: #F4F4F2;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 25px;
    font-family: product-card-title;
}

.product-cart-little-text {
    color: #F4F4F2;
    font-weight: normal;
    font-size: 15px;
    font-family: product-card-title;
}

.product-cart-price-container {
    width: 45%;
    margin: 2% 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-cart-price,
.product-cart-price-before-off {
    color: #F4F4F2;
    font-weight: bold;
    font-size: 17px;
    font-family: header-logo;
}

.product-cart-price-before-off {
    font-weight: normal;
    font-size: 14px;
    text-decoration: line-through red;
}

.product-cart-button {
    position: relative;
    margin: 2% auto;
    padding: 3% 6%;
    font-weight: bold;
    font-size: 18px;
    font-family: product-card-title;
    color: #495464;
    background-color: #F4F4F2;
    border: none;
    border-radius: 10px;
    text-transform: capitalize;
    cursor: pointer;
}

.carousel-items-header>.bi-heart-fill {
    color: #B93160;
}

.our-customers-slider-images-slider {
    width: 70%;
    height: 500px;
    margin: 1% auto;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.our-customers-slider-image-container {
    margin: 0 30px;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 500ms;
}

.our-customers-slider-image-container:hover .our-customers-slider-image {
    filter: saturate(100%);
}

.our-customers-slider-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    filter: saturate(10%);
    transition: all 500ms;
}

.our-customers-slider-image-container-active {
    transition: all 500ms;
    width: 400px;
    height: 500px;
}

.our-customers-slider-image-container-active>.our-customers-slider-image {
    filter: saturate(100%);
}

.our-customers-slider-image-container-deactive {
    display: none;
}